<div class="row h-100">
  <div class="col-sm-4 my-auto"></div>
  <div class="col-sm-4 my-auto">
    <!-- <h1 class="text-center git-puller-text">WELCOME TO ORGANIZATION GITHUB PULLER</h1> -->
<div class="card">
  <div class="card-header">
<h1 class="entry-text text-center">Enter Organization name below!</h1>
</div>
<%= form_for @conn, Routes.page_path(@conn, :index), fn f -> %>
<div class="card-body">
  <%= text_input f, :organization, class: "form-control", placeholder: "Organization Name" %>
</div>
  <div class="card-footer">
  <%= submit "Get Repos", class: "btn btn-primary get-repos" %>
  </div>
<% end %>
</div>
</div>
<div class="col-sm-4 my-auto"></div>
</div>
