<div class="row h-100">
  <div class="col-12 my-auto">
<div class="white-text text-center">
<%= if @organization["message"] == "Not Found" do %>
<h1 class="big-text">
  Organization not found please go back and enter a valid organization
</h1>
<% else %>
<h1 class="big-text"><%= @organization["message"] %></h1>
<% end %>
</div>
</div>
