<div class="container">
      <div class="white-text text-center repo-title">
      <h1 class="rtitle">Welcome to Repos!</h1>
      <h2>There are a total of <%= Enum.count(@organization, & &1["name"]) %> repos for this organization.</h2>
    </div>

    <table class="table table-dark">
    <thead>
      <tr>
        <th>Repo Name</th>
        <th># of followers</th>
        <th>Visibility</th>
      </tr>
    </thead>
    <tbody>
      <%= Enum.map(@organization, fn x ->  %>
          <tr>
          <td><div class="white-text rp"><a href=<%= x["html_url"] %> target="_blank" ><%= x["name"] %></a></td>
           <td><%= x["watchers_count"] %></td> <!-- Watch Counter only shows total Stars the API doesn't work correctly -->
           <%= if x["private"] === "true" do %>
           <td><p class="white-text">Private</p></td>
           <% else %>
           <td><p class="white-text">Public</p></td>
           <% end %>
          </div>
          </tr>
      <% end) %>
    </tbody>
  </table>
</div>
