/* This file is for your main application css. */

@import "./phoenix.css";

body{
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  background-size: 100% 100%;
  height: 100% !important;
}
html, body {
    height: 100%;
}

.big-text{
  font-size: 5rem;
}

.repo-title{
  margin-top: 5%;
margin-bottom: 4%;
}

.rtitle{
  font-size: 6.5rem;
}

.rp{
  font-size: 2rem;
}

.white-text{
  color:white;
}

.fill {
    min-height: 100%;
    height: 100%;
}
.entry-text{
  color:white;
  padding-bottom: 10%;
padding-top: 10%;
padding-left: 10%;
padding-right: 10%;
}
.card-header{
  background-color: #002036 !important;
}
.card{
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
display: flex;
}
.git-puller-text{
  padding-bottom: 10%;
}
.get-repos{
  width: 100% !important;
}

.card-footer{
  background-color: white !important;
}

.card-body{
  padding-bottom: 25% !important;
    padding-top: 25% !important;
}

.scriptdrop {
  background-color: #002036;
}
